﻿@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Models.Entities

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IViewLocalizer Localizer

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/semantic/dist/semantic.js"></script>
<link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css">

@if (SignInManager.IsSignedIn(User))
{
    <a class="item"
       asp-controller="Manage"
       asp-action="Index"
       title="Manage">
        @Localizer["Hello"]@User.FindFirst(p => p.Type == ClaimTypes.Name).Value!
    </a>
    <form asp-controller="Account"
          asp-action="LogOff"
          method="post"
          class="ui form"
          asp-route-returnUrl="@Context.Request.Path">
        @*<div class="negative ui submit button ">Log out</div>*@
        <button class=" ui submit button negative ">@Localizer["Log out"]</button>
    </form>
    <a class="item"
       asp-controller="UserTickets"
       asp-action="Index">
        @UserManager.GetUserName(User)@Localizer["Tikets"]</a>
    <a class="item"
       asp-controller="Orders"
       asp-action="Index" asp-route-id="@User.FindFirst(p => p.Type == ClaimTypes.NameIdentifier).Value">
        @User.FindFirst(p => p.Type == ClaimTypes.Name).Value@Localizer["Order"]</a>

    if (User.IsInRole("admin"))
    {
        <div class="item">
            <a class="ui icon button circular" asp-controller="AdminArea" asp-action="Index">
                <i class="icon settings"></i>
            </a>
        </div>
    }

    <div class="ui button cart" id="myButton">

        <i class="in cart icon circular"></i>
        <div id="cart_counter"></div>
        <div id="textContainer" class="transition hidden"
             style="position: absolute; width: 500px; height: 250px; right: 0px; top: 0px; background: #cce2ff;">
        </div>
    </div>

    <div id="cartTable11" class="transition hidden"
         style="position: absolute; width: 500px; height: 250px; right: 0px; top: 0px; background: #cce2ff;">
        <div class="ui tiny basic icon button"
             id="exitButton"
             style="position: absolute; right: 10px; top: 10px;">
            <i class="close icon"></i>
        </div>
        <div id="cartTable">
        </div>
    </div>
}

else
{
    <div class="ui buttons">
        <a class="ui button"
           asp-controller="Account"
           asp-action="Register"
           asp-route-returnUrl="@Context.Request.Path">
            <i class="signup icon"></i>
            @Localizer["Register"]
        </a>
        <div class="or" data-text="@Localizer["or"]"></div>

        <a class="ui positive button"
           asp-action="Login"
           asp-controller="Account"
           asp-route-returnUrl="@Context.Request.Path">
            @Localizer["Login"]
        </a>
    </div>
}


<script type="text/javascript">
    var eleme = document.getElementById('myButton');
    eleme.addEventListener('click',
        function() {
            $.ajax({
                type: 'get',
                data: { userId: '@User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value' },
                url: '/OrderCart/GetCurrentCart/',
                success: function(result) {
                    $('#cartTable').html(result);
                    $('#cart_counter').html($('#cartTable tbody tr').length); //need to select in tbody
                    $('#cartTable11').transition('show', 'fade left');
                }
            });
        });
</script>

<script type="text/javascript">
    var eleme = document.getElementById('inerButont');
    eleme.addEventListener('click',
        function(ev) {
            alert("hell");
        });
</script>

<script type="text/javascript">
    var eleme = document.getElementById('exitButton');
    eleme.addEventListener('click',
        function(ev) {
            $('#cartTable11').transition('fade left');
        });
</script>