@using System.Threading.Tasks
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures.Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName }).ToList();
}

<form id="selectLanguage" asp-controller="Home"
      asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
      method="post" class="item" role="form">
    <i class="world icon"></i>


    <select class="ui dropdown"
            name="culture"
            asp-for="@requestCulture.RequestCulture.UICulture.Name"
            asp-items="cultureItems">
    </select>

    <button type="submit" class="ui button"> Save</button>

</form>

@*<div title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">*@