@using TicketSaleCore.Models.Entities
@model Venue

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="ui form">
        <h4>Venue</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="field">
            <label asp-for="Name"> </label>
            <input asp-for="Name"
                   type="text"
                   placeholder="Venue Name"/>
        </div>
        <div class="field">
            <label asp-for="Address"></label>
            <input asp-for="Address"
                   type="text"
                   placeholder="Address"/>
        </div>
        <div class="field">
            <label asp-for="CityFk"></label>
            <select asp-for="CityFk"
                    asp-items="ViewBag.cities">
            </select>
        </div>
        <div class="field">
            <input type="submit" value="Save" class="ui button positive"/>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

