﻿@{
    ViewData["Title"] = "AdminArea";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-controller="Cities">Edit Cities</a><br/>
    <a asp-controller="EventsType">Edit EventsType</a><br/>
    <a asp-controller="OrderStatus">Edit OrderStatus</a><br/>


    <a asp-controller="Events">Edit Events</a><br/>
    <a asp-controller="Venues">Edit Venues</a><br/>
    <br/>
    <a asp-controller="Tickets">Edit Tickets</a>
    <br/>
    <a asp-controller="Users">Edit user</a>

</div>
