﻿@using Microsoft.AspNetCore.Identity
@using TicketSaleCore.Features.Tickets.UserTickets.ViewModels
@using TicketSaleCore.Models.Entities
@model IEnumerable<ConfWaitTicketsViewModel>
@inject UserManager<AppUser> UserManager

@*<div class="ui bottom attached active tab segment" data-tab="first">*@
<table class="ui celled padded table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WaitingTicket.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaitingTicket.Event)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaitingTicket.SellerNotes)
        </th>
        <th >
            Confirm for buyer
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WaitingTicket.Price)
            </td>
            <td>
                @Html.ActionLink(@item.WaitingTicket.Event.Name, "Index", "Tickets", new { id = @item.WaitingTicket.Event.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaitingTicket.SellerNotes)
            </td>
            <td >
                <div class="ui mini button blue ConfirmFor"
                     ticketOrderingId="@item.OrderingId">
                    Confirm for @item.BuyerUser.FirstName</div><br/>@*need to make VM*@

            </td>
        </tr>
    }
    </tbody>
</table>
@*</div>*@


<script type="text/javascript">
    document.querySelectorAll('.ui.mini.button.blue.ConfirmFor').forEach(function(el) {

            el.addEventListener('click', addToCart);
        }
    );

    function addToCart(el) {
        $.ajax({
            type: 'POST',
            data: { ticketOrderingId: el.target.getAttribute('ticketOrderingId') },
            url: '@Url.Action("ConfirmTicket")',
            success: function(result) {
                // $('[data-tab=WaitingConfomition]').attr('class');

                // $.tab('change tab', 'WaitingConfomition');

                $.ajax({
                    type: 'get',
                    url: '@Url.Action("WaitingConfomition")',
                    success: function(result) {
                        $('[data-tab=WaitingConfomition].segment').html(result);
                    }
                });

            }
        });
        // alert(el.target.getAttribute('ticketOrderingId'));
    }


</script>
