@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Models.Entities

@model AppUser
@inject IViewLocalizer Localizer
@*@inject UserManager<AppUser> UserManager*@

@{
    ViewData["Title"] = "IndexAnotherUser";
}

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="SellingTickets">@Localizer["Selling Tickets"] </a>
</div>
<div class="ui bottom attached tab segment active" data-tab="SellingTickets"></div>


<script type="text/javascript">
    window.onload = function() {
        $.ajax({
            type: 'get',
            data: { userId: '@Model.Id' },
            url: '@Url.Action("SellingTickets")',
            success: function(result) {
                $('[data-tab=SellingTickets].segment').html(result);
            }
        });
    };
</script>

<script type="text/javascript">
    $('.menu .item').tab(
        {
            cache: true,
            context: 'parent',
            //path: '/UserTickets/{tab}',
            apiSettings: {
                loadingDuration: 300,
                url: '/UserTickets/{tab}',
                data: { userId: '@Model.Id' }
            }
        });

</script>