﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Models.Entities

@inject IViewLocalizer Localizer
@inject UserManager<AppUser> UserManager

@{
    ViewBag.Title = "title";
}
<a class="ui positive button" id="makeNewTicket"
   asp-controller="Tickets"
   asp-action="Create">
    Make new Ticket
</a>

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="SellingTickets">@Localizer["Selling Tickets"] </a>
    <a class="item" data-tab="WaitingConfomition">@Localizer["Waiting Confomition"]</a>
    <a class="item" data-tab="Sold">@Localizer["Sold"]</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="SellingTickets"></div>
<div class="ui bottom attached tab segment" data-tab="WaitingConfomition"></div>
<div class="ui bottom attached tab segment" data-tab="Sold"></div>

<script type="text/javascript">
    window.onload = function() {
        $.ajax({
            type: 'get',
            data: { userId: '@UserManager.GetUserId(User)' },
            url: '@Url.Action("SellingTickets")',
            success: function(result) {
                $('[data-tab=SellingTickets].segment').html(result);
            }
        });
    };
</script>

<script type="text/javascript">
    $('.menu .item').tab(
        {
            cache: false,
            context: 'parent',
            //path: '/UserTickets/{tab}',
            apiSettings: {
                loadingDuration: 300,
                url: '/UserTickets/{tab}',
                data: { userId: '@UserManager.GetUserId(User)' }
            }
        });

</script>
@*<script type="text/javascript">
        document.getElementById('makeNewTicket').addEventListener('click',
            function() {
                alert("a");
                $.get('/UserTickets/Create');
            }); //, //this need to change in
                //success: function(result) {
                //    $('.ui.main.text.container.sixteen.wide').html(result);
                //    $('#cartTable11').transition('fade left');

                //    //    //    $('.ui.basic.modal')
                //    //    //            .modal('show')
                //    //    //        ;
                //    //    //    //    $('[data-tab=SellingTickets].segment').html(result);
                //}
    </script>*@
