@model OrderStatus
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Models.Entities
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Delete"];
}

<h3>@Localizer["Are you sure you want to delete this?"]</h3>

<div class="content">
    <h2>
        @Localizer["Name"] : @Html.DisplayFor(model => model.StatusName)
    </h2>
</div>


<form asp-action="Delete"
      method="post"
      asp-route-id="@Model.Id"
      class="ui form">
    <div class="ui blue submit button">@Localizer["Delete"]</div> |
    <a class="ui blue button" asp-action="Index">@Localizer["Back to List"]</a>
</form>
@Html.ModelStateValidMsge(ViewData.ModelState, Localizer)
<script type="text/javascript">
    $('.ui.form')
        .form();
</script>
