﻿@using TicketSaleCore.Features.Accounts.Roles.ViewModels
@model ChangeRoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h2>Изменение ролей для пользователя @Model.UserEmail</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId"/>
    <div class="form-group">
        @foreach (var role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : string.Empty)/>
            @role.Name
            <br/>
        }
    </div>
    <button type="submit" class="ui button">Сохранить</button>
</form>

