﻿@using TicketSaleCore.Features.Accounts.Users.ViewModels
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>ChangePassword</h2>

<h2>Изменение пароля для пользователя @Model.Email</h2>
<form asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="Email"/>
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">Старый пароль</label>
        <input type="text" asp-for="OldPassword" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default"/>
    </div>
</form>