﻿@using TicketSaleCore.Features.Accounts.Users.ViewModels
@model EditUserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<form asp-action="Edit" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id"/>
    </div>
    <div class="field">
        <label asp-for="Email" class="label">Email</label>
        <input type="text" asp-for="Email" class="ui input text"/>
    </div>
    <br/>
    <div class="field">
        <input type="submit" value="Сохранить" class="ui button default"/>
    </div>
</form>

