﻿@using TicketSaleCore.Models.Entities
@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "User List";
}

<h2>Index</h2>
<a asp-action="Create">Добавить пользователя</a>

<table class="table">
    <tr>
        <th>Email</th><th>Год</th><th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="ui button" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <a class="ui button" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                    <a class="ui button"
                       asp-controller="Roles"
                       asp-action="Edit"
                       asp-route-id="@user.Id"
                       asp-route-returnUrl="@Context.Request.Path">
                        Сменить роль
                    </a>

                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

