@using TicketSaleCore.Features.Tickets.Tickets.ViewModels
@model CreateTicketViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create" asp-route-returnUrl="@ViewBag.ReturnUrl">
    <div class="form-horizontal">
        <h4>Ticket</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SellerNotes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SellerNotes" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="EventId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.events"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index"
       asp-controller="UserTickets"
       asp-route-returnUrl="@ViewBag.ReturnUrl">
        Back to List
    </a>
</div>

