@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using TicketSaleCore.Features.Tickets.Tickets.ViewModels
@using TicketSaleCore.Models.Entities
@inject SignInManager<AppUser> SignInManager
@model TicketIndexViewModel

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-controller="Venues" asp-action="Create" asp-route-returnUrl="@Context.Request.Path">Create New</a>
    </p>
}

<div class="ui items">
    @if (@Model.CurentEvent != null)
    {
        <div class="item">
            <div class="ui small image">
                <img src="@Model.CurentEvent.Banner">
            </div>
            <div class="content">
                <a class="header">@Model.CurentEvent.Name</a>
                <div class="meta">
                    <span>@Model.CurentEvent.Venue.Address</span>
                </div>
                <div class="description">
                    <div>@Model.CurentEvent.Description</div>
                    <div>@Model.CurentEvent.Date.ToString("D", CultureInfo.CurrentCulture)</div>
                </div>
                <div class="extra">@Model.CurentEvent.Venue.City.Name</div>
            </div>
        </div>
    }
    else
    {
        <div class="header">All ticket</div>
    }
</div>


<table class="ui celled padded table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AvailableTicketsToSale.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableTicketsToSale.First().Seller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableTicketsToSale.First().SellerNotes)
        </th>


        @if (User.IsInRole("admin"))
        {
            <th></th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AvailableTicketsToSale)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (item.Seller != null)
                {
                    if (item.Seller.FirstName != null)
                    {
                        @Html.ActionLink(item.Seller.FirstName, "Details", "Users", new { id = item.Seller.Id })
                    }
                    else
                    {
                        <label>seller is Null</label>
                    }
                }
                else
                {
                    <p>seller is null</p>
                }


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerNotes)
                @if (SignInManager.IsSignedIn(User))
                {
                    <button class="ui button positive AddToCart" id="@item.Id">Add to Cart</button>
                }
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
<div class="ui basic modal">
    <div class="ui icon header">
        <i class="cart icon"></i>
    </div>
    <div class="content">
        <p>Ticked added in to cart</p>
    </div>
    <div class="actions">
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>

<script type="text/javascript">
    document.querySelectorAll('.ui.button.positive.AddToCart').forEach(function(el) {

            el.addEventListener('click', addToCart);
        }
    );

    function addToCart(el) {
        $.ajax({
            type: 'POST',
            data: { id: el.target.id },
            url: '@Url.Action("AddToCart")',
            success: function(result) {


                $('.ui.basic.modal')
                    .modal('show');
                el.target.removeEventListener('click', addToCart);
                el.target.innerText = "already added";
                el.target.classList.remove('positive');
                el.target.classList.add('negative');

                @*$.ajax({
                    type: 'get',
                    url: '@Url.Action("Index")',
                    success: function (result) {
                        document.html(result);
                    }
                });*@
                //    $('[data-tab=SellingTickets].segment').html(result);
            }
        });

    }


</script>
