@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Features.Accounts.Account.ViewModels
@model LoginViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Log in"];
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css">
    <style type="text/css">
        .remember-me { text-align: left; }

        .ui.checkbox label { color: #ddd; }

        body > .grid { height: 100%; }

        .image { margin-top: -100px; }

        .column { max-width: 450px; }
    </style>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">@Localizer["Log-in to your account"] </div>
        </h2>
        <form method="post"
              asp-controller="Account"
              asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl"
              class="ui large form">

            <div class="ui stacked secondary segment">

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="Email" type="text" name="email" placeholder="@Localizer["Login"]">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Password" type="password" name="password" placeholder="@Localizer["Password"]">
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        <label>@Localizer["Remember Me"]</label>
                        <input asp-for="RememberMe" name="RememberMe" type="checkbox"/>
                    </div>

                </div>
                <div class="field">
                    @*<input type="submit" class="ui fluid large teal button" value="@Localizer["Login"]" />*@
                    <div class="ui primary submit button">@Localizer["Log in"]</div>
                </div>
            </div>
        </form>

        @Html.ModelStateValidMsge(ViewData.ModelState, Localizer)
        <p>
            <a asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
        </p>
        <p>
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
        </p>
        <p>
            <a asp-action="ForgotPassword">Forgot your password?</a>
        </p>
    </div>

</div>

<footer class="ui vertical footer " style="position: fixed; bottom: 5px; right: 10px">

    <div class="ui text container">
        <p>login: Admin; Pass: Admin</p>
        <p>login: User1; Pass: User1</p>
        <p>login: User2; Pass: User2</p>
        <p>login: User3; Pass: User3</p>
    </div>
    @await Html.PartialAsync("_SelectLanguagePartial")
</footer>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/semantic/dist/semantic.js"></script>
<script type="text/javascript">
    if ('@Html.ValidationMessage("LoginError")'.value != null) {
        alert('@Html.ValidationMessage("LoginError")'.value);
    }
</script>
<script type="text/javascript">
    $('.ui.checkbox').checkbox();
</script>
<script type="text/javascript">

    $('.ui.form')
        .form({
            on: 'blur',
            inline: true,
            // revalidate:true,
            fields: {
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type: 'empty',
                            //prompt: 'Please enter a value'
                            prompt: '@Localizer["Enter your login"]'
                        }
                    ]

                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '@Localizer["Enter your Password"]'
                        }
                    ]
                }
            }
        });
</script>

<script type="text/javascript">
    $(document)
        .ready(function() {
            $('.ui.form').form(submit);
        });
</script>

</body>
</html>
