﻿@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Features.Accounts.Roles.ViewModels
@model RegisterViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<form method="post" asp-controller="Account" asp-action="Register" class="ui form segment">
    <div asp-validation-summary="All"></div>
    <div class="field">
        <label asp-for="Email"></label><br/>
        <input asp-for="Email" placeholder="Email" type="text"/>
    </div>
    <div class="field">
        <label asp-for="Password"></label><br/>
        <input asp-for="Password" placeholder="Password" type="text"/>
    </div>
    <div class="field">
        <label asp-for="PasswordConfirm"></label><br/>
        <input asp-for="PasswordConfirm" placeholder="Confirm Password" type="text"/>
    </div>
    @*@Html.ModelStateValidMsge(ViewData.ModelState, Localizer)*@
    <div>
        <input type="submit" value="Регистрация"/>
    </div>
</form>
<script type="text/javascript">
    $('.ui.form')
        .form({
            on: 'blur',
            inline: true,
            // revalidate:true,
            fields: {
                email: {
                    identifier: 'Email',
                    rules: [
                        {
                            type: 'email',
                            //prompt: 'Please enter a value'
                            prompt: 'Please enter a valid e-mail'
                        }
                    ]
                }
            }
        });
</script>
