@using System.Globalization
@using TicketSaleCore.Models.Entities
@model Event

@{
    ViewData["Title"] = "Details";
}


<div class="ui items">
    <div class="item">
        <div class="image">
            <img src="@Model.Banner">
        </div>
        <div class="content">
            <a class="header"
               asp-controller="Tickets"
               asp-action="Index"
               asp-route-id="@Model.Id"
               style="color: blue">
                @Model.Name
            </a>
            <div class="meta">
                <span>Description</span>
            </div>
            <div class="description">
                @Model.Description
            </div>
            <div class="extra">
                @Model.Date.ToString("D", CultureInfo.CurrentCulture)
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Tickets" asp-action="Index" asp-route-id="@Model.Id">All aveilable ticket</a>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
