@model CityEditCreateViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Features.Cities.ViewModels
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Create new City"];
}

<h2>@Localizer["Create"]</h2>

<form class="ui form"
      asp-action="Create" method="post">
    <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" name="Name" placeholder="@Localizer["City name"]"/>
    </div>

    <div class="ui blue submit button">@Localizer["Create"]</div>

</form>
@Html.ModelStateValidMsge(ViewData.ModelState, Localizer)
<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>

<script type="text/javascript">
    $('.ui.form')
        .form({
            on: 'blur',
            inline: true,
            fields: {
                name: {
                    identifier: 'Name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '@Localizer["Please enter City name"]'
                        }
                    ]
                }
            }
        });
</script>

