@model CityEditCreateViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketSaleCore.Features.Cities.ViewModels
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["City Edit"];
}


<form class="ui form"
      asp-action="Edit" method="post">
    <div class="field">
        <label asp-for="Name"></label>
        <input asp-for="Name"
               type="text"
               name="Name"
               placeholder="@Localizer["City name"]"/>
    </div>
    <div class="ui blue submit button">@Localizer["Submit"]</div>
</form>

<script type="text/javascript">
    $('.ui.form')
        .form({
            on: 'blur',
            inline: true,
            fields: {
                name: {
                    identifier: 'Name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '@Localizer["Please enter City name"]'
                        }
                    ]
                }
            }
        });
</script>