@using TicketSaleCore.Features.Orders.OrderCart.ViewModels
@model OrderCartViewModel


<p>@Model.CartOwner.FirstName;</p>
<p>@Model.DateCreated</p>
<p>@Model.DateLastUpdate</p>
<table class="ui celled padded table">
    <thead>
    <tr>
        <th display-for="Price"></th>
        <th display-for="SellerNotes"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderCartTickets)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tickett.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tickett.SellerNotes)
            </td>
        </tr>
    }
    </tbody>
</table>


<div class="ui positive centered button" id="MakeOrderButton">
    Make order

</div>
<script type="text/javascript">
    //   document.querySelectorAll('.ui.button.positive.centered').forEach(function (el) {
    document.getElementById('MakeOrderButton').addEventListener('click',
        function() {

            $.ajax({
                type: 'POST',
                //    data: { id: ev.id},
                url: '@Url.Action("MakeOrder")', //this need to change in
                success: function(result) {
                    $('.ui.main.text.container.sixteen.wide').html(result);
                    $('#cartTable11').transition('fade left');

                    //    //    $('.ui.basic.modal')
                    //    //            .modal('show')
                    //    //        ;
                    //    //    //    $('[data-tab=SellingTickets].segment').html(result);
                }
            });
        }
    );
</script>