﻿@using System.Globalization
@using TicketSaleCore.Models.Entities
@model IEnumerable<Event>
@{
    ViewData["Title"] = "Event Home";
}
<div class="ui justified container">

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("admin"))
        {
            <a>Admin is work</a>
        }
    }
    else
    {
    }


    <div class="ui items column">
        @foreach (var item in Model)
        {
            <div class="item wide row">
                <div class="ui small image">
                    <img src="@item.Banner"
                         @*style="height: 60px;width: 60px" *@>
                </div>
                <div class="content">
                    <a class="header"
                       asp-controller="Tickets"
                       asp-action="Index"
                       asp-route-id="@item.Id"
                       style="color: blue">
                        @item.Name
                    </a>
                    <div class="meta">
                        <span>@item.Venue.Address</span><br/>
                        <span>@item.Venue.Name</span>
                    </div>
                    <div class="ui two column divided grid description">
                        <div class="row">
                            <div class="column">
                                <div>@item.Description</div>
                                <div>@item.Date.ToString("D", CultureInfo.CurrentCulture)</div>
                            </div>
                            <div class="right floated column middle aligned">
                                <semanticui stlabel label-title="available tikets:"
                                            label-value="@item.Tickets.Count()"/>

                            </div>
                        </div>
                    </div>
                    <div class="extra">
                        @item.Venue.City.Name
                    </div>
                </div>
            </div>
        }
    </div>
</div>
