﻿@using TicketSaleCore.Features.Accounts.Users.ViewModels
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>ChangePassword</h2>

<h2>Изменение пароля для пользователя @Model.Email</h2>
<form asp-action="ChangePassword" asp-controller="Users" class="ui form segment">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="field">
        <label asp-for="OldPassword"></label>
        <input type="text" asp-for="OldPassword" placeholder="OldPassword"/>
    </div>
    <div class="field">
        <label asp-for="NewPassword"></label>
        <input type="text" asp-for="NewPassword" placeholder="NewPassword"/>
    </div>
    <div class="field">
        <input type="submit" value="Сохранить" class="ui button positive"/>
    </div>
</form>