﻿@using System.Security.Claims
@using TicketSaleCore.Features.Accounts.Manage.ViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Change your account settings</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage"
                   asp-action="ChangePassword"
                   asp-route-id="@User.Claims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value"
                   class="btn-bracketed">
                    Change
                </a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="ui button positive">Create</a>
            }
        </dd>
    </dl>
</div>
