@using TicketSaleCore.Models.Entities
@model IEnumerable<Order>

@{
    ViewData["Title"] = "Index";
}

<h2>@User.Identity.Name Orders</h2>

<div class="items">
    @foreach (var item in Model)
    {
        <div class="ui message item">
            <div class="header">TrackNo: @item.TrackNo</div>
            <div>
                <table class="ui celled padded table">
                    <thead>
                    <tr>
                        <th>
                            Seller name
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            StatusName
                        </th>
                        <th>
                            Event
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var itemT in item.OrderTickets)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Users" asp-action="Details" asp-route-id="@itemT.Tiket.Seller.Id">@itemT.Tiket.Seller.FirstName</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemT.Tiket.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(m => itemT.TicketStatus.StatusName)
                            </td>
                            <td>
                                <a asp-controller="Tickets" asp-action="Index" asp-route-id="@itemT.Tiket.Event.Id">@itemT.Tiket.Event.Name</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    }
</div>
@*<table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TrackNo)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Buyer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buyer.FirstName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
    }
        </tbody>
    </table>*@
